<h2 mat-dialog-title>User Details</h2>
<div mat-dialog-content>
  <form [formGroup]="userForm" (ngSubmit)="onSave()">
    <mat-form-field appearance="fill">
      <mat-label>User ID</mat-label>
      <input matInput formControlName="user_id">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>User Name</mat-label>
      <input matInput formControlName="user_name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="first_name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="last_name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <input matInput formControlName="user_status">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Department</mat-label>
      <input matInput formControlName="department">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [disabled]="!userForm.valid" (click)="onSave()">Save</button>
</div>
