
.vs/UserApp1/v17/.suo
/.vs
/.vs/UserApp1/copilot-chat
/.vs/UserApp1
.vs/UserApp1/v17/.suo
.vs/UserApp1/copilot-chat/159214ad/sessions/98752ea3-b09a-42f5-a3c3-4faae0053cd2
/UserApp1.Server/obj
/UserApp1.Server/obj
*.bin
UserApp1.Server/bin/Debug/net8.0/userdb.json
UserApp1.Server/bin/Debug/net8.0/UserApp1.Server.pdb
UserApp1.Server/bin/Debug/net8.0/UserApp1.Server.dll
UserApp1.Server/bin/Debug/net8.0/UserApp1.Server.deps.json
UserApp1.Server/bin/Debug/net8.0/UserApp1.Server
UserApp1.Server/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
UserApp1.Server/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
UserApp1.Server/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
UserApp1.Server/bin/Debug/net8.0/spa.proxy.json
UserApp1.Server/bin/Debug/net8.0/package-lock.json
UserApp1.Server/bin/Debug/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
UserApp1.Server/bin/Debug/net8.0/Npgsql.dll
UserApp1.Server/bin/Debug/net8.0/Microsoft.OpenApi.dll
UserApp1.Server/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
UserApp1.Server/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
UserApp1.Server/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
UserApp1.Server/bin/Debug/net8.0/Microsoft.AspNetCore.SpaProxy.dll
UserApp1.Server/bin/Debug/net8.0/769212c5b47449acafd02097d3d274ee.sh
userapp1.client/obj/Debug/userapp1.client.esproj.FileListAbsolute.txt
.vscode/launch.json
.DS_Store
*.dll
