
.vs/UserApp1/v17/.suo
/.vs
/.vs/UserApp1/copilot-chat
/.vs/UserApp1
.vs/UserApp1/v17/.suo
.vs/UserApp1/copilot-chat/159214ad/sessions/98752ea3-b09a-42f5-a3c3-4faae0053cd2
/UserApp1.Server/obj
/UserApp1.Server/obj
*.bin
